<div class="container" style="text-align: center; margin-top: 10em;">
  <!-- NgSubmit != submit: ngSubmit sẽ ko load lại trang sau khi submit-->
  <!-- <form class="sign-in-form" novalidate #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)"> -->
    <form class="sign-in-form" novalidate #signInForm="ngForm" (submit)="onSubmit(signInForm)">
    <h2>Sign-in</h2>
    <div class="row-control">
      <mat-form-field appearance="outline" style="min-width: 400px;">
        <mat-label>UserName</mat-label>
        <!-- <input matInput placeholder="UserName" ngModel name="username"/> -->
        <!-- <input matInput placeholder="Password" [ngModel]="userInfo.userName" name="userName"/> -->
        <input matInput placeholder="Password" [(ngModel)]="userInfo.userName" name="userName"/>
      </mat-form-field>
    </div>
    <div class="row-control" style="margin-bottom: -20px;">
      <mat-form-field appearance="outline" style="min-width: 400px;">
        <mat-label>Password</mat-label>
        <!-- 1. ngModel: là directive giúp chúng ta register control với form, -->
        <!-- VD: <input type="password" matInput placeholder="Password" ngModel name="password"/> -->
        <!-- 2. [ngModel] : là property binding, tức là chúng ta có thể binding một value hoặc một property cho nó. -->
        <!-- VD: <input type="password" matInput placeholder="Password" [ngModel]="userInfo.password" name="password"/> -->
        <!-- 3. [(ngModel)]: là two-way data binding, lúc này nó sẽ kết hợp propety binding
                          và event binding để đồng bộ dữ liệu giữa template và model với nhau. -->
        <input type="password" matInput placeholder="Password" [(ngModel)]="userInfo.password" name="password"/>
      </mat-form-field>
    </div>
    <div class="row-control" style="margin-right: 280px;">
      <!-- <mat-checkbox ngModel name="rememberMe">Remember me</mat-checkbox> -->
      <!-- <mat-checkbox [ngModel]="userInfo.rememberMe" name="rememberMe">Remember me</mat-checkbox> -->
      <mat-checkbox [(ngModel)]="userInfo.rememberMe" name="rememberMe">Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions" style="margin-left: 320px;">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>

    <pre>{{ signInForm.value | json }}</pre>
    <pre>{{ userInfo | json }}</pre>
  </form>
</div>
